<div class="container p-3">
  <h2>Censimento</h2>
  <hr>
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <form (ngSubmit)="onSave()" [formGroup]="formCensimento">

        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Nome</mat-label>
          <mat-error *ngIf="inputNome.invalid">
            Nome obbligatorio. Deve contenere 4-8 caratteri.
          </mat-error>
          <input
            matInput
            formControlName="nome"
            type="text"
            id="inputNome"
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-12">
          <mat-error *ngIf="inputCognome.invalid">
            Cognome obbligatorio. Deve contenere 4-8 caratteri.
          </mat-error>
          <mat-label>Cognome</mat-label>
          <input
            matInput
            formControlName="cognome"
            type="text"
            id="inputCognome"
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-12">
          <mat-error *ngIf="inputDataNascita.invalid">
            Data di nascita obbligatoria.
          </mat-error>
          <mat-label>Data di nascita min.</mat-label>
          <input
            matInput
            [matDatepicker]="pickerDNMin"
            formControlName="dataNascita"
            id="inputDataNascita"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerDNMin"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerDNMin></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-12">
          <mat-label>Città</mat-label>
          <mat-error *ngIf="inputCitta.invalid">
            Città obbligatoria. Non può contenere simboli o numeri.
          </mat-error>
          <input
            matInput
            formControlName="citta"
            type="text"
            id="inputCitta"
          />
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="formCensimento.invalid" class="col-12">Salva</button>
      </form>
    </div>
  </div>
</div>
