<nav>
  <mat-toolbar color="primary">
        <h1>Anagrafica</h1>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button routerLinkActive="active" routerLink="/ricerca"
            >Ricerca</a
          >
          <a mat-button routerLinkActive="active" routerLink="/censimento"
            >Censimento</a
          >
          <a mat-button routerLinkActive="active" routerLink="/profilo"
            >Profilo Personale</a
          >
          <a
            mat-button
            routerLinkActive="active"
            (click)="onLogout()"
            style="cursor: pointer"
            >Logout</a
          >
        </div>
  </mat-toolbar>
</nav>
