<div class="container">
  <div class="row p-5">

        <h1>Anagrafica</h1>

        <fieldset>
          <legend>Accedi</legend>
          <div *ngIf="loginErrors.length" class="alert alert-danger" role="alert">
            {{ loginErrors }}
          </div>
          <form class="mb-5" [formGroup]="accediForm" (ngSubmit)="onLogin()">

            <mat-form-field appearance="fill" class="col-12">
              <mat-label>Username</mat-label>
              <mat-error *ngIf="inputAccessoUsername.invalid">
                Username obbligatorio. Deve contenere dai 4 agli 8 caratteri alfanumerici.
              </mat-error>
              <input
                matInput
                formControlName="username"
                type="text"
                id="inputUsername"
              />
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-12">
              <mat-label>Password</mat-label>
              <input
                matInput
                formControlName="password"
                type="password"
                id="inputNome"
              />
            </mat-form-field>

            <button class="col-12" type="submit" mat-raised-button color="primary" [disabled]="accediForm.invalid" >Accedi</button>
          </form>
        </fieldset>
        <hr>
        <fieldset>
          <legend>Registrati</legend>
          <div *ngIf="registerErrors.length" class="alert alert-danger" role="alert">
            {{ registerErrors }}
          </div>
          <form [formGroup]="registratiForm" (ngSubmit)="onRegister()">

            <mat-form-field appearance="fill" class="col-12">
              <mat-label>Username</mat-label>
              <mat-error *ngIf="inputRegistrazioneUsername.invalid">
                Username obbligatorio. Deve contenere dai 4 agli 8 caratteri alfanumerici.
              </mat-error>
              <input
                matInput
                formControlName="username"
                type="text"
                id="registerUsername"
              />
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-12">
              <mat-label>Password</mat-label>
              <mat-error *ngIf="inputRegistrazionePassword.invalid">
                La password deve essere di 4-15 caratteri.
              </mat-error>
              <input
                matInput
                formControlName="password"
                type="password"
                id="registerPassword"
                (change)="onPasswordChange()"
              />
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-12">
              <mat-label>Ripeti password</mat-label>
              <mat-error *ngIf="inputRegistrazioneRPassword.invalid">
                La password deve corrispondere a quella inserita.
              </mat-error>
              <input
                matInput
                formControlName="rpassword"
                type="password"
                id="registerRpassword"
                (change)="onPasswordChange()"
              />
            </mat-form-field>

            <button class="col-12" type="submit" mat-raised-button color="primary" [disabled]="registratiForm.invalid" >Registrati</button>
          </form>
        </fieldset>
      </div>

  </div>
